
.App {
  text-align: center;
  max-width:800px;
  margin: 0 auto;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

section.drop-zone {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background: #363636;
  height: 120px;
}

section.drop-zone:dragover {
  background:red
}