#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

section.drop-zone {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background: #363636;
  height: 150px;
}

section.drop-zone:dragover {
  background:red
}